{% extends "blog/base.html" %}  
  
{% block title %}My Blog{% endblock %}  
  
{% block content %}  
  <h1>My Blog</h1>  
  {% for object in object_list %}  
    <h2>  
      <a href="{{ object.get_absolute_url }}">  
       {{ object.title }}  
      </a>  
    </h2> 
    <p class="date">  
      Published {{ object.publish }} by {{ object.author }}  
    </p>  
    {{ object.body|truncatewords:30|linebreaks }}  
  {% endfor %}
  {% include "../pagination.html" with page=posts %}
{% endblock %}